#屏蔽所有编译生成的可执行文件
!*/     # 先允许所有目录
*       # 屏蔽所有文件
!*.cpp  # 允许所有cpp文件
!*.h    # 允许所有头文件
!*.c    # 允许所有C文件
!.gitignore # 允许.gitignore文件
!*.md   # 允许所有markdown文件

# 单独屏蔽特定的test文件
/test      # 屏蔽根目录下的 test
*/test     # 屏蔽任何子目录下的 test

# 屏蔽配置文件
/.vscode

# 屏蔽所有编译产生的临时文件
*.o
*.out
*.exe
